In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('../data/airbnb_lisbon.csv')

In [3]:
# Data overview
df.head(), df.info()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13578 entries, 0 to 13577
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_id               13578 non-null  int64
 1   survey_id             13578 non-null  int64
 2   host_id               13578 non-null  int64
 3   room_type             13578 non-null  object
 4   country               0 non-null      float64
 5   city                  13578 non-null  object
 6   borough               0 non-null      float64
 7   neighborhood          13578 non-null  object
 8   reviews               13578 non-null  int64
 9   overall_satisfaction  13578 non-null  float64
 10  accommodates          13578 non-null  int64
 11  bedrooms              13578 non-null  float64
 12  bathrooms             0 non-null      float64
 13  price                 13578 non-null  float64
 14  minstay               0 non-null      float64
 15  name                  13550 non-null  object
 16  last_modified         13578 non-null  object
 17  latitude              13578 non-null  float64
 18  longitude             13578 non-null  float64
 19  location              13578 non-null  object
dtypes: float64(9), int64(5), object(6)
memory usage: 2.1+ MB

room_id                   int64
survey_id                 int64
host_id                   int64
room_type                object
country                 float64
city                     object
borough                 float64
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
bathrooms               float64
price                   float64
minstay                 float64
name                     object
last_modified            object
latitude                float64
longitude               float64
location                 object
dtype: object

In [4]:
# Check for missing values
missing_values = df.isnull().sum()
missing_values[missing_values > 0]

country      13578
borough      13578
bathrooms    13578
minstay      13578
name            28
dtype: int64

In [5]:
# Drop columns where all values are missing
df = df.dropna(axis=1, how='all')

In [6]:
# Inspect the columns with some missing values
df[df['name'].isna()]

,room_id,survey_id,host_id,room_type,city,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,name,last_modified,latitude,longitude,location
7,3049237,1480,15020890,Shared room,Lisbon,Areeiro,0,0.0,1,1.0,174.0,NaN,2017-07-28 01:19:48.101673,38.738405,-9.134452,0101000020E61000007AC37DE4D64422C0F819170E845E...
166,16269727,1480,50575236,Entire home/apt,Lisbon,Santo António,0,0.0,2,1.0,347.0,NaN,2017-07-28 00:30:26.083432,38.718818,-9.150706,0101000020E6100000389F3A56294D22C058E36C3A025C...
241,11961196,1480,43258704,Entire home/apt,Lisbon,Santa Clara,0,0.0,3,1.0,113.0,NaN,2017-07-28 00:06:06.889347,38.782385,-9.158523,0101000020E6100000DF5339ED295122C0C3F011312564...
359,3129185,1480,15891628,Entire home/apt,Lisbon,Penha de França,0,0.0,6,2.0,1201.0,NaN,2017-07-27 23:12:13.730932,38.734562,-9.130074,0101000020E6100000AC1E300F994222C03271AB20065E...
367,3129127,1480,15891325,Entire home/apt,Lisbon,Benfica,0,0.0,4,1.0,1201.0,NaN,2017-07-27 23:12:13.705307,38.755116,-9.197867,0101000020E61000004FEACBD24E6522C0DA571EA4A760...
372,3104053,1480,4967811,Entire home/apt,Lisbon,Campo de Ourique,0,0.0,5,3.0,840.0,NaN,2017-07-27 23:12:12.338974,38.719404,-9.169104,0101000020E6100000DE3EABCC945622C0484E266E155C...
376,3079140,1480,15011587,Entire home/apt,Lisbon,São Domingos de Benfica,0,0.0,2,1.0,781.0,NaN,2017-07-27 23:12:12.326194,38.744064,-9.174446,0101000020E610000006D671FC505922C0C310397D3D5F...
378,3118028,1480,15843103,Entire home/apt,Lisbon,Benfica,0,0.0,2,1.0,840.0,NaN,2017-07-27 23:12:12.321135,38.752800,-9.195614,0101000020E61000008D47A984276422C0E3361AC05B60...
383,3118839,1480,15846016,Entire home/apt,Lisbon,Lumiar,0,0.0,6,3.0,600.0,NaN,2017-07-27 23:12:11.247552,38.767741,-9.155973,0101000020E6100000361E6CB1DB4F22C030664B564562...
580,2988197,1480,15237172,Entire home/apt,Lisbon,Avenidas Novas,0,0.0,2,2.0,240.0,NaN,2017-07-27 23:11:50.249008,38.729434,-9.157139,0101000020E610000030DAE385745022C0944BE3175E5D...
901,13722176,1480,26166365,Entire home/apt,Lisbon,São Vicente,2,0.0,5,3.0,180.0,NaN,2017-07-27 23:00:46.980570,38.716687,-9.131072,0101000020E6100000B6D782DE1B4322C0F33B4D66BC5B...
1454,8646030,1480,20643180,Entire home/apt,Lisbon,Areeiro,0,0.0,5,3.0,144.0,NaN,2017-07-27 22:53:40.764849,38.744359,-9.141114,0101000020E6100000F7031E18404822C0DCBDDC27475F...
2851,11603154,1480,2573566,Entire home/apt,Lisbon,Arroios,0,0.0,4,1.0,118.0,NaN,2017-07-27 22:27:55.745278,38.734500,-9.143763,0101000020E6100000ECBFCE4D9B4922C0BC749318045E...
3139,3763696,1480,19278006,Entire home/apt,Lisbon,Santo António,0,0.0,1,2.0,90.0,NaN,2017-07-27 21:26:27.801915,38.717163,-9.154922,0101000020E6100000A0DCB6EF514F22C05C7347FFCB5B...
3815,8546448,1480,44988589,Entire home/apt,Lisbon,São Vicente,1,0.0,6,2.0,92.0,NaN,2017-07-27 21:13:34.400208,38.714844,-9.127432,0101000020E610000081ED60C43E4122C0F4DE1802805B...
5349,5090022,1480,24493655,Entire home/apt,Lisbon,Estrela,0,0.0,4,1.0,72.0,NaN,2017-07-27 19:56:37.736429,38.713792,-9.157036,0101000020E6100000DD96C805675022C0BE1248895D5B...
5603,5883731,1480,727771,Entire home/apt,Lisbon,São Vicente,31,5.0,6,2.0,72.0,NaN,2017-07-27 19:48:32.079371,38.716125,-9.123046,0101000020E6100000A7CEA3E2FF3E22C08B6CE7FBA95B...
7718,4984241,1480,25693256,Entire home/apt,Lisbon,Estrela,97,4.5,2,0.0,42.0,NaN,2017-07-27 18:42:03.144541,38.710058,-9.158546,0101000020E6100000BFD2F9F02C5122C0AF21382EE35A...
7859,12558671,1480,68074381,Entire home/apt,Lisbon,Estrela,0,0.0,4,2.0,60.0,NaN,2017-07-27 18:47:49.146491,38.711725,-9.170751,0101000020E6100000C284D1AC6C5722C0705F07CE195B...
10161,3049375,1480,15020890,Private room,Lisbon,Areeiro,0,0.0,3,1.0,347.0,NaN,2017-07-27 17:58:46.470287,38.738020,-9.132328,0101000020E6100000AFB0E07EC04322C09FE57970775E...
10168,2990877,1480,9866194,Private room,Lisbon,Benfica,0,0.0,2,1.0,336.0,NaN,2017-07-27 17:58:46.451444,38.748791,-9.200017,0101000020E6100000BF49D3A0686622C002452C62D85F...
10253,4724680,1480,1133152,Private room,Lisbon,Estrela,0,0.0,2,1.0,132.0,NaN,2017-07-27 17:58:33.313484,38.709653,-9.161107,0101000020E61000003750E09D7C5222C01041D5E8D55A...
10642,5725570,1480,1794425,Private room,Lisbon,Misericórdia,13,5.0,2,1.0,60.0,NaN,2017-07-27 17:45:50.134567,38.714272,-9.151167,0101000020E61000000778D2C2654D22C06939D0436D5B...
11036,12732216,1480,69233518,Private room,Lisbon,Santo António,2,0.0,2,1.0,42.0,NaN,2017-07-27 17:44:58.974205,38.717859,-9.142754,0101000020E610000012BF620D174922C0D311C0CDE25B...
11930,9454593,1480,11663712,Private room,Lisbon,Santo António,0,0.0,1,1.0,18.0,NaN,2017-07-27 16:29:40.221077,38.717874,-9.154226,0101000020E6100000C362D4B5F64E22C00953944BE35B...
12360,15949172,1480,103527577,Private room,Lisbon,São Vicente,29,5.0,2,1.0,35.0,NaN,2017-07-27 16:23:05.673866,38.719690,-9.132201,0101000020E61000003BFF76D9AF4322C00EA14ACD1E5C...
13196,6821663,1480,3991816,Private room,Lisbon,Alvalade,15,5.0,1,1.0,36.0,NaN,2017-07-27 16:17:10.583496,38.749925,-9.136046,0101000020E6100000D48041D2A74522C0F5B9DA8AFD5F...
13478,13063207,1480,67693269,Private room,Lisbon,Santa Maria Maior,52,5.0,2,1.0,24.0,NaN,2017-07-27 16:14:48.088472,38.714619,-9.134266,0101000020E6100000F2ED5D83BE4422C0D40CA9A2785B...

In [7]:
# Fill missing values and check result
df['name'] = df['name'].fillna('Unknown name') 
df.isnull().sum()

room_id                 0
survey_id               0
host_id                 0
room_type               0
city                    0
neighborhood            0
reviews                 0
overall_satisfaction    0
accommodates            0
bedrooms                0
price                   0
name                    0
last_modified           0
latitude                0
longitude               0
location                0
dtype: int64

In [8]:
# Check and remove duplicates
df.duplicated().sum()

0

In [9]:
# Convert data types
df['last_modified'] = pd.to_datetime(df['last_modified'])

In [10]:
# Get year and month from last_modified column
df['year_modified'] = df['last_modified'].dt.year
df['month_modified'] = df['last_modified'].dt.month

In [11]:
# Normalize text data
# Select columns that contain text data
object_columns = df.select_dtypes(include='object')

In [12]:
# Check for empty strings (strings that contain only spaces)
empty_strings = object_columns.apply(lambda x: x.str.strip() == '')  
empty_strings.sum()

room_type       0
city            0
neighborhood    0
name            0
location        0
dtype: int64

In [13]:
# Convert all text data to lowercase
df[object_columns.columns] = object_columns.apply(lambda x: x.str.lower())
df.head(15) #Inspect the result

,room_id,survey_id,host_id,room_type,city,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,name,last_modified,latitude,longitude,location,year_modified,month_modified
0,14708916,1480,91501272,shared room,lisbon,santo antónio,19,4.5,4,1.0,30.0,low cost hostel marques gardens 4 bed dorm,2017-07-28 01:19:53.215272,38.723987,-9.146613,0101000020e61000003f56f0db104b22c055dd239bab5c...,2017,7
1,7465447,1480,704061,shared room,lisbon,avenidas novas,4,3.5,6,1.0,39.0,room in lisbon center,2017-07-28 01:19:53.206052,38.735061,-9.154510,0101000020e610000057cf49ef1b4f22c054c8957a165e...,2017,7
2,11058290,1480,1379661,shared room,lisbon,santa maria maior,38,4.5,8,1.0,39.0,bed in a 8-bed dorm @ this is lisbon hostel,2017-07-28 01:19:52.034547,38.715726,-9.132671,0101000020e610000057410c74ed4322c0cd72d9e89c5b...,2017,7
3,9019111,1480,46762399,shared room,lisbon,avenidas novas,9,4.0,6,1.0,37.0,shared mixed bunkbed room 1,2017-07-28 01:19:52.020396,38.729017,-9.149932,0101000020e61000006c3f19e3c34c22c0309dd66d505d...,2017,7
4,3123304,1480,8488955,shared room,lisbon,arroios,0,0.0,2,1.0,480.0,quarto no centro de lisboa,2017-07-28 01:19:50.401364,38.721617,-9.136208,0101000020e61000003ae8120ebd4522c06b9e23f25d5c...,2017,7
5,3110303,1480,15806678,shared room,lisbon,arroios,0,0.0,2,1.0,480.0,uefa lisboa,2017-07-28 01:19:50.398554,38.732262,-9.134285,0101000020e6100000cdafe600c14422c0410ddfc2ba5d...,2017,7
6,13514728,1480,77597089,shared room,lisbon,lumiar,0,0.0,2,1.0,180.0,autocaravana com condutor,2017-07-28 01:19:48.104348,38.761582,-9.170725,0101000020e61000001d386744695722c0739cdb847b61...,2017,7
7,3049237,1480,15020890,shared room,lisbon,areeiro,0,0.0,1,1.0,174.0,unknown name,2017-07-28 01:19:48.101673,38.738405,-9.134452,0101000020e61000007ac37de4d64422c0f819170e845e...,2017,7
8,19037719,1480,8477034,shared room,lisbon,são vicente,0,0.0,4,1.0,144.0,orange placito,2017-07-28 01:19:48.098744,38.718112,-9.128895,0101000020e6100000603c8386fe4122c0bd6e1118eb5b...,2017,7
9,17286309,1480,95779617,shared room,lisbon,arroios,0,0.0,1,1.0,144.0,"apartamento, quarto sala",2017-07-28 01:19:47.156007,38.732699,-9.135252,0101000020e6100000eb6f09c03f4522c0ec67b114c95d...,2017,7
10,1006509,1480,5534910,shared room,lisbon,santo antónio,0,0.0,8,1.0,121.0,shared dorms lisbon,2017-07-28 01:19:46.442680,38.715926,-9.144646,0101000020e610000093fe5e0a0f4a22c0952d9276a35b...,2017,7
11,12868601,1480,67452133,shared room,lisbon,arroios,0,0.0,10,1.0,121.0,large artistic room - lisbon city center,2017-07-28 01:19:46.439087,38.731440,-9.135025,0101000020e6100000e9482eff214522c03d7e6fd39f5d...,2017,7
12,17954348,1480,123079348,shared room,lisbon,arroios,1,0.0,2,1.0,96.0,nice room anjos,2017-07-28 01:19:45.383941,38.732005,-9.134631,0101000020e6100000390ebc5aee4422c016c1ff56b25d...,2017,7
13,17941583,1480,123079348,shared room,lisbon,arroios,0,0.0,3,1.0,102.0,room almirante reis,2017-07-28 01:19:45.381593,38.731765,-9.136077,0101000020e6100000c07971e2ab4522c0c1adbb79aa5d...,2017,7
14,14348377,1480,84472028,shared room,lisbon,são vicente,0,0.0,5,1.0,90.0,lisboa arte hostel - shared room 2,2017-07-28 01:19:45.379203,38.715985,-9.119991,0101000020e6100000f1a0d9756f3d22c09ab67f65a55b...,2017,7

In [14]:
# Clear names from invalid symbols
df['name'] = df['name'].str.replace(r'[^a-zA-Z0-9\s]', ' ', regex=True)
df['name'].head(15) #Inspect the result

0      low cost hostel marques gardens 4 bed dorm
1                           room in lisbon center
2     bed in a 8 bed dorm   this is lisbon hostel
3                     shared mixed bunkbed room 1
4                      quarto no centro de lisboa
5                                     uefa lisboa
6                       autocaravana com condutor
7                                    unknown name
8                                  orange placito
9                        apartamento  quarto sala
10                            shared dorms lisbon
11       large artistic room   lisbon city center
12                                nice room anjos
13                            room almirante reis
14             lisboa arte hostel   shared room 2
Name: name, dtype: object

In [15]:
# Delete extra spaces
df['name'] = df['name'].str.replace(r'\s+', ' ', regex=True)
df['name'] = df['name'].str.strip()
df['name'].head(15) #Inspect the result

0     low cost hostel marques gardens 4 bed dorm
1                          room in lisbon center
2      bed in a 8 bed dorm this is lisbon hostel
3                    shared mixed bunkbed room 1
4                     quarto no centro de lisboa
5                                    uefa lisboa
6                      autocaravana com condutor
7                                   unknown name
8                                 orange placito
9                        apartamento quarto sala
10                           shared dorms lisbon
11        large artistic room lisbon city center
12                               nice room anjos
13                           room almirante reis
14              lisboa arte hostel shared room 2
Name: name, dtype: object

In [16]:
# Check for negative values in columns that should not have negative values
df[df[['price', 'bedrooms', 'reviews', 'overall_satisfaction', 'accommodates']].lt(0).any(axis=1)]

Empty DataFrame
Columns: [room_id, survey_id, host_id, room_type, city, neighborhood, reviews, overall_satisfaction, accommodates, bedrooms, price, name, last_modified, latitude, longitude, location, year_modified, month_modified]
Index: []

In [17]:
# Check for unrealistic dates (e.g., future dates)
df[df['last_modified'] > pd.to_datetime('today')]

Empty DataFrame
Columns: [room_id, survey_id, host_id, room_type, city, neighborhood, reviews, overall_satisfaction, accommodates, bedrooms, price, name, last_modified, latitude, longitude, location, year_modified, month_modified]
Index: []

In [18]:
# Final check for missing values and duplicates
df.isnull().sum()
df.duplicated().sum()

0

In [19]:
# Save the result
df.to_csv('../data/cleaned_data.csv', index=False)